html,
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    height: 100%;
}

#wrapper {
    width: 100%;
    min-height: calc(100vh - 68px);
    background: #FFFFFF;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: calc(100% - 75px);
    background: #FFFFFF;
}

#page-inner {
    width: 100%;
    margin: 5px 10px;
    background-color: #fff !important;
    padding: 10px;
    min-height: calc(100% - 90px);
}

.page-head-line {
    font-size: 30px;
    text-transform: uppercase;
    color: #34141F;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 2px solid #EC1C70;
    margin-bottom: 10px;
}

.page-subhead-line {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-style: italic;
    margin-bottom: 30px;
    border-bottom: 1px dashed #EC1C70;

}


/*==============================================
    MENU STYLES    
    =============================================*/


.navbar-cls-top .navbar-brand {
    color: #FCFBFC;
    background: #34141F;
    width: 260px;
    text-align: center;
    height: 75px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 900;
    padding-top: 25px;
    text-transform: uppercase;
}

.header-right {
    color: #FCFBFC;
    padding: 15px 50px 5px 50px;
    float: right;
    font-size: 16px;
}

.navbar-cls-top .navbar-brand:hover {
    background: #34141F;
    color: #fff;
}

.user-img-div {
    min-height: 140px;
    padding: 20px;
    background-color: #34141F;
    text-align: center;
}

.user-img-div img {
    max-height: 180px;
}

.user-img-div .inner-text {
    text-align: center;
    position: relative;
    color: #FCFBFC;
    font-weight: 800;
    line-height: 25px;
}

.active-menu {
    background-color: #E3538C !important;
}

.active-menu-top {
    background-color: #34141F !important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active {
    background-color: #E3538C !important;
    color: #fff !important;
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}

.sidebar-collapse,
.sidebar-collapse .nav {
    background: none;
}

.sidebar-collapse .nav {
    padding: 0;
}

.sidebar-collapse .nav>li>a {
    color: #FCFBFC;
    background: #34141F;
    text-shadow: none;
    padding: 15px 40px;
    border-bottom: 1px solid #2F2E31;
}

.sidebar-collapse>.nav>li>a {
    padding: 15px 10px;
}

.sidebar-collapse .nav>li>a:hover,
.sidebar-collapse .nav>li>a:focus {
    background: #E3538C;
    outline: 0;
}



.nav-second-level>li:last-child>a:after,
.nav-third-level>li:last-child>a:after {
    height: 50%;
}

.nav-third-level>li>a:after,
.nav-third-level>li>a:before {
    left: 40px;
}

.navbar-side {
    border: none;
    background-color: #202020;
}

.navbar-cls-top {
    background: #EC1C70;
    border-bottom: none;
}


.navbar-default {
    border: 0px solid #34141F;
}

.navbar-header {
    background: #34141F;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #EC1C70;
}

.navbar-default .navbar-toggle {
    border-color: #FCFBFC;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FCFBFC;
}

.nav>li>a>i {
    margin-right: 10px;
}

/*==============================================
    FOOTER  STYLES    
    =============================================*/
#footer-sec {
    background-color: #000;
    padding: 20px 50px;
    color: #FCFBFC;
    font-size: 12px;
    width: 100%;
    /* Make sure the footer spans the entire width */
    position: fixed;
    /* Fix the footer at the bottom of the screen */
    bottom: 0;
    /* Position the footer at the bottom */
}

#footer-sec a {
    color: #FCFBFC;
}

#footer-sec a:hover,
a:focus {
    color: #FCFBFC;
    text-decoration: none;
}

/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media (min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: calc(100% - 75px);
    }

    #footer-sec {
        position: relative;
        /* Reset position for smaller screens */
    }

    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

    .navbar {
        border-radius: 0px;
    }
}